version: "3.8"
services:
  ping:
    image: gfish/ping
    environment:
      - PARTNER=pong
    build:
      context: .
    ports:
      - ${outport1}:${inport}
  pong:
    image: gfish/pong
    environment:
      - PARTNER=ping
    ports:
      - ${outport2}:${inport}
