version: "3.8"
services:
  pingpong1:
    environment:
      - inport=8089
      - outport=8001
    image: gfish/pingpong
    command: ${inport}
    ports:
      - "${outport}:${inport}"
  pingpong2:
    environment:
      - inport=8089
      - outport=8002
    image: gfish/pingpong
    command: ${inport}
    ports:
      - "${outport}:${inport}"
