version: "3.8"
services:
  pingpong1:
    environment:
      inport: ${inport}
      outport: ${outport1}
    image: gfish/pingpong
    command: ${inport}
    ports:
      - "${outport1}:${inport}"
  pingpong2:
    environment:
      inport: ${inport}
      outport: ${outport2}
      image: gfish/pingpong
    command: ${inport}
    ports:
      - "${outport2}:${inport}"
